
body {
  font-family: 'Helvetica', 'Droid Sans', Arial, sans-serif !important;
}

#vs {
  font-size:2.0em;
margin-top: 100px;
text-align:center;
}

.form_actions {
    margin: 0;
    background-color: transparent;
    text-align: center;
}

@mixin center-block() {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.candidate_box{
  background-color:#fafafa;
  border:1px solid #ececec;
}

.candidate_box > .candidate_info > .candidate_photo > img {
  @include center-block();
  max-height:200px;
}

#secondary_content {
  margin-top:15px;
} 

#cant_decide_options {
  background-color:white;
}

#ft {
  margin-top:40px;
  text-align:center;
}

.big-btn{
  width:130px;
  height:40px;
  padding-top:auto;
}

.align-right{
  text-align:right
}

a.photo_frame {
  display: block;
  height: 200px;
  width: 100%;
  overflow: hidden;
  text-decoration: none;
  position: relative; }
  a.photo_frame table {
    text-align: center;
    valign: middle;
    height: 100%;
    width: 100%;
    border: none;
    padding: none;
    position: absolute;
    top: 0px;
    left: 0px; }
    a.photo_frame table.fade {
      z-index: 2; }
    a.photo_frame table.current {
      z-index: 1; }
    a.photo_frame table td, a.photo_frame table tr {
      vertical-align: middle; }
  a.photo_frame img {
    border: 3px solid #000; }
  a.photo_frame.loading img {
    border: none; }
  a.photo_frame.checked .fade img {
    border: 3px solid #fa7f00; }

a.photo_frame:hover {
  cursor: pointer; }

.noprofile{
  font-size:0.85em;
  font-style:italic;
}

.eachResult{
  border:1px solid #999999;
  float:left;
  width: 200px;
}