.row
  .col-md-5
    =render(:partial => 'questions/photo', :locals => {:direction => "left", :choice => @left_choice_id, :photo => @left_choice_photo, :future_photo => @future_left_choice_photo})
  #vs.col-md-2
    Versus
  .col-md-5
    =render(:partial => 'questions/photo', :locals => {:direction => "right", :choice => @right_choice_id, :photo => @right_choice_photo, :future_photo => @future_right_choice_photo})
    =hidden_field_tag 'appearance_lookup', @question.attributes['appearance_id']
    =hidden_field_tag 'prompt_id', @prompt.id