.container_16
  %h4.no_margin
    Agrega mas candidatos
  -if @question.active_choices < 3
    %h6#status_message{:style => 'color:red'}
      You need to upload <span id="photos_needed">3</span> more photos <span class="normal">(minimum)</span>.

  #fileQueue
  %form{:action => "/#{@earl.name.to_s}/upload_photos", :method => 'POST', :enctype => 'multipart/form-data'}
    %input{:type => 'file', :name => 'Filedata', :id => 'uploadify'}
    %input{:type => 'submit', :id => 'upload_submit', :value => "Upload"}
  %p
    Tip: Manten apretado shift si quieres subir mas de un archivo a la ves

  #{button_to 'Volver al admin', '/' + @earl.name.to_s + '/admin'}

  =stylesheet_link_tag 'photocracy/uploadify'
  =javascript_include_tag 'photocracy/swfobject.js', 'photocracy/jquery.uploadify.v2.1.4.js'

  :javascript
    $(document).ready(function() {
      $('#upload_submit').hide();
    	$("#uploadify").uploadify({
    		'uploader'       : '/javascripts/photocracy/uploadify.swf',
    		'script'         : "upload_photos",
    		'cancelImg'      : '/images/photocracy/cancel.png',
    		'queueID'        : 'fileQueue',
    		'auto'           : true,
    		'multi'          : true,
        'fileDesc'       : 'Only jpg, png, gif, zip and csv files allowed (smaller than 50 MB)',
        'fileExt'        : '*.zip;*.csv;*.jpg;*.jpeg;*.png;*.gif',
    		'width'          : '222',
    		'height'         : '48',
    		'wmode'          : 'transparent',
    		'buttonImg'      : '/images/photocracy/upload_photos.png',
    		scriptData       : {
          'session_identifier' : "#{request.session_options[:id]}",
          'authenticity_token'  : AUTH_TOKEN
        },
        onComplete       : function() {

          $('#status_message').html("Subida exitosa");
          $('#status_message').css('color', 'green');
        }
    	});
    });
