=render :partial => "shared/highcharts_header"

.container_12
  #primary_content
    #hd.center
      %h1.no_margin
        %span.normal
          Resultados de
        =h @question.name
      %p.gray
        Revisa los resultados aqui o 
        =link_to 'sigue votando.',  url_for(:action => :show, :controller => :earls, :id => params[:id])
      %p
        Para avalar a alguno de estos candidatos, envia su codigo de aval por SMS a <em>947080004</em>
    
    .grid_8
      .target
        -@choices.each do |choice|
          .eachResult
            -i = @all_choices.index(choice)
            -cand = Candidate.find(choice.data)
            -aval_count = Aval.count(:conditions => ["foreign_id = ?", cand.foreign_id])
            %p
              =cand.nombre
            %p
              =cand.apellidos
            %p
              =cand.profesion
            =link_to(' ', {:action => 'show', :controller => "choices", :id => choice.id, :question_id => @earl.name}, :class => 'float_left photo_frame', :style => "background: url('#{cand.image.url(:medium)}') center center no-repeat; width:150px; margin-bottom:10px;")

            .float_left{:style => 'width:100%'}
              RANKING
              %h4 
                =(i + 1)

              PUNTAJE
              %h4 
                =choice.attributes['score'].round.to_s

              VOTOS
              %h4 
                =choice.attributes['wins'].round.to_s

              AVALES
              %h4 
                =aval_count
              
              Codigo Aval: <b>#{cand.foreign_id}</b>
              

            .clear
    .clear