=render :partial => "shared/highcharts_header"

.container_12
  #primary_content
    #hd.center
      %h1.no_margin
        %span.normal
          Resultados de
        =h @question.name
      %p.gray
        Revisa los resultados aqui o 
        =link_to 'sigue votando.',  url_for(:action => :show, :controller => :earls, :id => params[:id])
    
    
    .grid_8
      .target
        -@choices.each do |choice|
          .eachResult
            -i = @all_choices.index(choice)
            -photo = Candidate.find(choice.data)
            %p
              =photo.nombre
            %p
              =photo.apellidos
            =link_to(' ', {:action => 'show', :controller => "choices", :id => choice.id, :question_id => @earl.name}, :class => 'float_left photo_frame', :style => "background: url('#{photo.image.url(:medium)}') center center no-repeat; width:300px; margin-bottom:50px;")

            .float_left{:style => 'width:20%'}
              RANKING
              %h4 
                =(i + 1)

              PUNTAJE
              %h4 
                =choice.attributes['score'].round.to_s
            
              -if choice == @choices.first
                .gray
                  %i
                    El puntaje de un candidato es la probabilidad de que sea elegido comparandolo con otro candidato al azar
            .clear
        =will_paginate @choices, :previous_label => t('results.previous'), :next_label => t('results.next')
    .clear